@import url('/public/fonts/stylesheet.css');
@import "tailwindcss";

@theme {
  --default-font-family: 'ITC Avant Garde Std Bk', serif;
  --font-medium: 'ITC Avant Garde Std Md', serif;
  --font-semibold: 'ITC Avant Garde Std Demi', serif;
  --font-bold: 'ITC Avant Garde Std Bold', serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: black;
    background: transparent;
    user-select: text;
  }
  
  canvas {
    touch-action: none;
  }
  
  .screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1240px;
  }
}

@utility flex-center {
  @apply flex items-center justify-center
}

@utility nav-height {
  @apply h-[calc(100vh-60px)]
}

@utility common-padding {
  @apply sm:py-16 py-10 sm:px-5 px-3
}

@utility section-heading {
  @apply text-black lg:text-3xl md:text-2xl text-lg lg:mb-0 mb-5 font-bold
}

@utility carousel-container {
  @apply  sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
}

@utility control-btn {
  @apply ml-4 rounded-full bg-white flex-center
}

@utility splide__arrow {
  @apply flex items-center justify-center bg-white shadow-xs shadow-black cursor-pointer h-10 w-10 p-0 absolute top-[55%] z-10
}

@utility splide__arrow--prev {
  @apply -left-10
}

@utility splide__arrow--next {
  @apply -right-10
}

@utility quicklink-containter {
  @apply flex-center border-gray-300 border rounded-full hover:border-black hover:cursor-pointer
}

@utility quicklink-text-container {
  @apply lg:mt-1 lg:mb-1 lg:flex-center
}

@utility quicklink-text {
  @apply lg:font-bold lg:ml-2 text-sm
}

@utility discover-now-button {
  @apply h-14 w-full flex-center cursor-pointer select-none text-white bg-black font-semibold text-sm
}