@import url('/public/fonts/stylesheet.css');
@import "tailwindcss";

@theme {
  --color-blue: '#2997FF';

  --color-gray: '#86868b';
  --color-gray-100: '#94928d';
  --color-gray-200: '#afafaf';
  --color-gray-300: '#42424570';

  --color-zinc: '#101010';

  --default-font-family: 'ITC Avant Garde Std Md', serif;
  --font-light: 'ITC Avant Garde Std Bk', serif;
  --font-bold: 'ITC Avant Garde Std Bold', serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: black;
    overflow-x: hidden;
    height: 100%;
    background: transparent;
    border-color: black;
    user-select: text;
  }
  
  canvas {
    touch-action: none;
  }
  
  .screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1240px;
  }
}

@utility flex-center {
  @apply flex items-center justify-center
}

@utility nav-height {
  @apply h-[calc(100vh-60px)]
}

@utility common-padding {
  @apply sm:py-16 py-10 sm:px-5 px-3
}

@utility section-heading {
  @apply text-black lg:text-3xl md:text-2xl text-lg lg:mb-0 mb-5 font-bold
}

@utility carousel-container {
  @apply  sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
}

